<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.AdminDao">
     <select id="selectByUsername" resultType="Admin">
         select
            id,
            username,
            password
         from
            admin
         where
            username=#{username}
     </select>

     <insert id="insert">
         insert into
             admin
         values(
             #{id},
             #{username},
             #{password},
             #{privilege},
             #{rank}
         )
     </insert>
</mapper>
