<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.LogDao">

     <insert id="insert">
         insert into
             log
         values(
             #{id},
             #{name},
             #{optionTime},
             #{matter},
             #{result}
         )
     </insert>
</mapper>
